<p>shoppingbag works!</p>


<div class="row">
    <div class="column"  *ngFor="let jobo of items | async">
      <ul>
        <div class="card-deck">
          <div class="card">
            <!-- <button class="btn btn-secondary btn-block" (click)="onproductClick(jobo)"></button> -->
            <a> <img src="/assets/Images/{{jobo.imgId}}.jpg" style="width: 200px; size: 200px; display: block; block-size: 150px;background-color: grey;" alt="image">
              
              <div class="card-body"><p style="font-style: normal" class="card-subtitle">{{jobo.titleName}}</p>
              <p class="card-text column">${{jobo.price}}</p>
              <p class="card-text column">Size: {{jobo.size}}</p>
              <div class="card-footer"><button class="btn btn-secondary btn-block"  style="background-color: white; size: 20px;height: 30px;">
                
                <div><p style="font-size: small; color: black;" (click)="deleteItem(jobo)">Remove From Cart</p></div>
              </button>
               </div>
              
            </div></a>
              
              
          </div>
        </div>
        
      </ul>
      
      
    </div>
    <div class="column">
      <div class="container">Total Amount :
        <!-- <a *ngFor="let jobo of items | async"> {{jobo}}</a> -->
        <button routerLink ="/checkout">Checkout</button>
      </div>
    </div>
  </div>
  <div>
    <!-- <router-outlet></router-outlet> -->
  </div>

